@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap");

@font-face {
    font-family: Gilroy-Regular;
    src: url("/assets/fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: Gilroy-Light;
    src: url("/assets/fonts/Gilroy-Light.ttf");
}

@font-face {
    font-family: Gilroy-Medium;
    src: url("/assets/fonts/Gilroy-Medium.ttf");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("/assets/fonts/Gilroy-Bold.ttf");
}

@font-face {
    font-family: Gilroy-Heavy;
    src: url("/assets/fonts/Gilroy-Heavy.ttf");
}
