* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
}

body {
    font-family: "Outfit", "Poppins", Arial, Helvetica, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
}

// scrollbar starts 🎐

* {
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar);
    border-radius: 0.625rem;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-scrollbar) transparent;
}

// scrollbar ends 🎐

// smooth scrolling starts 🎐

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    scroll-behavior: smooth;
}

#workflow,
#faq {
    scroll-margin-top: 80px;
}

// smooth scrolling ends 🎐
